<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alfredo.android.a21pointsandroid">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".activity.MainMenuActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".activity.ProfileActivity"/>
        <activity
            android:name=".activity.InvitationActivity"/>
        <activity
            android:name=".activity.RegisterActivity"
            android:label="@string/title_activity_register" />
        <activity
            android:name=".activity.SearchChatActivity"
            android:label="Random Chat" />
        <activity
            android:name=".activity.friendList.FriendListActivity"
            android:label="Friend List" />
        <activity
            android:name=".activity.friendList.FriendActivity"
            android:label="Friend Info" />
        <activity
            android:name=".activity.chatroom.ChatroomActivity"
            android:label="Chatrooms" />
        <activity
            android:name=".activity.chatroom.ChatroomListActivity"
            android:label="Chatrooms" />
        <activity
            android:name=".activity.Chat.MessageListActivity"
            android:label="Messages" />
        <activity
            android:name=".activity.DirectMessagesActivity"
            android:label="Direct Messages" />
        <activity
            android:name=".activity.SearchUserActivity"
            android:label="Search User" />
        <activity android:name=".activity.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity"></activity>
    </application>

</manifest>